@use 'sass:math';
@import '../../scss/theme';
@import '../../scss/flexbox';
@import '../../scss/mixins';

section#intro.error{
    height: calc(100vh - t-var('footer-height'));
    @include flex(column);
    $text-height: 190px;
    background: url('../../../public/img/section-bg.png') 0% 0% / 100% no-repeat;



    section.text{
        padding: 1em 2em;       
        height: $text-height; 

        h1{
            font-weight: 900;

            em{
                color: t-var('primary-em-font-color');
            }
        }

        h2{
            color: t-var('primary-em-font-color');
            font-weight: 700;
            opacity: .8;
        }

        nav{
            padding-top: .5em;
            gap: .8em;
        }
    }

    .img{
        @include flex-grow(1);
        flex-shrink: 1;
        object-fit: contain;
        margin-bottom: 2em;
        max-height: calc(100% - $text-height);
    }
}

@include mq('tablet-small'){
    section#intro.error{
       @include flex-direction(row);
       @include align-items(stretch);
       overflow-x: hidden;

       section.text{
        position: relative;
        font-size: 130%;
        height: unset;
        top: 10%;
        left: 10%;
        height: max-content;
        @include flex-shrink(0);
       }

       .img{
        max-height: 100%;
        @include flex-shrink(1);
       }
    }
}