@import '../../scss/theme';
@import '../../scss/flexbox';
@import '../../scss/mixins';


main > section#intro.project-intro{
    min-height: max-content !important;   
    padding-left: 2em;
    @include flex(row);
    @include justify-content(flex-start) ;

    h2 {
        position: relative;        
        padding: 0.2em .6em;
        font-weight: 500;
        margin-top: 2em;
    }
}

main > section.project-main{
    padding: 1em 2em;
}