@import 'mixin';
@import 'flexbox';
@import 'theme';

.menu-trigger{
  gap: 3px;
  position: relative;
  height: 14px;
  width: 14px;
  box-sizing: content-box;
  padding: .2em;

  i[class^="bar-"]{
    @include rounded;
    position: absolute;
    display: block;
    width: 14px;
    height: 2px;
    background: t-var('primary-font-color');

    &::before{
      @include pseudo;
      @include rounded;      
      width: 0%;
      height: 100%;      
      background: #86b0f6;
      
      
      @include transition;
    }

    
  }

  i.bar-top{
    top: calc(.2em + 2px);    
    left: .2em;
    @include transform(translate(0, -50%));

    &::before{
      left: 0;
    }
  }

  i.bar-middle{
    top: 50%;    
    left: 50%;
    @include transform(translate(-50%, -50%));

    &::before{
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

  i.bar-bottom{
    bottom: .2em;
    right: .2em;
    @include transform(translate(0, -50%));

    &::before{
      right: 0;
    }
  }

  &.active{
    

    i[class^="bar-"]{
      &::before{
        width: 100%;
        visibility: hidden;
      } 
    }   
    
    $duration: 1s;
    $timing-function: ease-in-out;
    $delay: .3s;
    $iteration-count: 1;
    $direction: normal;
    $fill-mode: forwards;
    

    i.bar-top{        
      /*animation: name duration timing-function delay iteration-count direction fill-mode;*/      
      animation: anim-w1-w0-w1 $duration $timing-function $delay $iteration-count $direction $fill-mode, 
                 menu-trigger-bar-top-step $duration step-end 0s $iteration-count $direction $fill-mode;
    }

    i.bar-middle{      
      @include animation(menu-trigger-bar-middle $duration $timing-function $delay $iteration-count $direction $fill-mode);
    }

    i.bar-bottom{      
      animation: anim-w1-w0-w1 $duration $timing-function $delay $iteration-count $direction $fill-mode, 
                 menu-trigger-bar-bottom-step $duration step-end 0s $iteration-count $direction $fill-mode;
    }     
  }

}

@keyframes anim-w1-w0-w1 {
  0%{    
    width: 100%;        
  }
  50%{    
    width: 0px;        
  }
  100%{     
    width: 65%;    
  }
}

@keyframes menu-trigger-bar-top-step{
  50%{
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(45deg));
  }
  100%{
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(45deg));
  }
}

@keyframes menu-trigger-bar-middle {
  0%{
    width: 100%;    
  }
  50%{
    height: 0px;
    width: 0px;   
    background: transparent;
    border: 2px solid t-var('primary-font-color'); 
    @include rounded;
  }
  100%{
    width: 100%;   
    height: 100%;
    background: transparent;
    border: 2px solid t-var('primary-font-color');
    @include rounded(100%);
  }
}

@keyframes menu-trigger-bar-middle-step{
  50%{
    border-radius: 2px;
  }
}

@keyframes menu-trigger-bar-bottom-step{
  50%{
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(-45deg));
  }
  100%{
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(-45deg));
  }
}